<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.MskProgra5ConnectionString"
            connectionString="Data Source=TURNSOL.arvixe.com;Initial Catalog=MskProgra5;User ID=Mskp5;Password=^hsyMe*2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>